*{
    box-sizing: border-box;
}

body {
    margin:0;
}

header{
    display: flex;
    background-color: #ff7431;
}

img {
    width: 100%;
}

/* GALLERY VIEW */

.hidden {
    display: none !important;
}

canvas {
  border: 1px solid black;
  background-color: #f0f0f0;
}