*{
    box-sizing: border-box;
}

html {
    font-family: lato, sans-serif;
    line-height: 1.7142857;
    font-weight: 800;
    color: #ebebeb;
}

body {
    margin:0;
    background-color: #1A151B;
    height: 100vh;
}

img {
    width: 100%;
}

.hidden {
    display: none !important;
}

/* GALLERY VIEW */

canvas {
  border: 1px solid black;
  background-color: #f0f0f0;
}

/* EDITOR VIEW */

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 40px;          /* same size as your buttons */
    height: 40px;
    border: 2px solid #444;  /* border like button */
    border-radius: 6px;      /* rounded corners */
    cursor: pointer;
    padding: 0;
    background: none;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 6px;
}

