.main-layout {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1060px) minmax(16px, 1fr);
    grid-template-rows: auto 1fr auto;
}

.main-layout >*{
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1/ -1;
}

/* EDITOR VIEW */
.editor-view {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(16px, 1fr);
    align-items: center;    
    gap: 12px;
    margin-bottom: 24px;
    margin-top: 24px;
    background-color: #502b3b;
    border-radius: 70px;
    box-shadow: inset #ff3b8f 6px 6px 7px 0px, #1a0b12 9px 10px 7px;
}

/* GALLERY VIEW */
.gallery-view {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 980px) minmax(auto, 1fr);
    grid-template-rows: auto 1fr auto;
}

.gallery-view >* {
    grid-column: 2;
}

