.main-layout {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 980px) minmax(16px, 1fr);
    grid-template-rows: auto 1fr auto;
}

.main-layout >*{
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1/ -1;
}

.editor-view {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(16px, 1fr);
    
}
