@media (min-width: 600px) {

}

@media (min-width: 850px ){
  
    
}
     

@media (min-width: 960px ){
    .editor-view {
        grid-template-columns: minmax(16px, 1fr) minmax(16px, 1fr) !important;
    }

    .canvas-container{ 
        max-width: none !important;
        padding-top: 0;
    }  
}