
.controls {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px
}


/* BUTTONS */
.controls button, .color-set-container, .export-options a{
  appearance: none;
  border: 1px solid #ddd;
  background: #fff;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color .15s ease, transform .05s ease;
}

.controls button:hover{
  background: #f2d5e1;
}

.controls button:active {
  transform: translateY(1px);
  background: #f2d5e1;
}

.font-controls{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #af6283;
    border-radius: 10px;
    box-shadow: #000 6px 7px 13px
}
.line-controls{
    margin-bottom: 8px;
}

.line-controls button, .export-options a{
    box-shadow: 1px 5px 0 #b3b0b6;
}

/* EXPORT-OPTIONS BUTTONS */

.export-options a{
    display: flex;
    width: 138px;  
    color: black;
    font-size: 0.85em;
    gap: 0.3em;
}

.export-options a::before{
    content:" \f019";
    font-weight: 900;
    font-size: 1.5rem;
}

/* FONT EDIT BUTTONS */
.color-set-container { 
    position: relative; 
}

input[type="color"] {
     position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    width: 64px;          /* same size as your buttons */
    height: 64px;
    cursor: pointer;
}
.font-edit, .font-alignments, .line-controls{ 
    display: flex;
    gap:10px
}

.font-edit select{
    height: 64px;
    width: 138px;
    align-self: top;
    border-radius: 6px; 
    font-size: 1em;
    padding-left: 10px;
    font-weight: 900;
    font-family: inherit;
}

.meme-text{
    height: 64px;
    width: 360px;
    border-radius: 16px; 
    font-size: 1.5em;
    padding-left: 20px;
    font-weight: 900;
    font-family: inherit;
    margin-bottom: 25px;
}



